body{
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/bg.jpg");
  background-size: cover;     /* cover : 더 넓은 너비에 맞게 이미지 출력하게 */
  background-repeat: no-repeat;
  background-attachment: fixed; /* 배경의 스크롤 특성을 지정(fixed : 스크롤 해도 배경이 고정됨) */
}
.container{
  padding: 50px 0;
}
.container .heroes{
  display: flex;   /* 요소가 수평이 되게 해줌 */
  flex-wrap: wrap; /* 줄바꿈 되게 해줌 */
  justify-content: center; 
  max-width: 700px;
  margin: 0 auto; /* 상하:0, 좌우:auto */
  padding: 40px 20px; /* 요소에 내부여백 추가 */
}
.container .heroes .hero{
  width: 80px;
  height: 84px;
  margin: 4px;      /* 요소에 외부여백 추가 */
  border: 3px solid #fff;
  border-radius: 10px;
  box-sizing: border-box; /* 요소의 크기기준을 지정해줌 */
  background-color: #555;
  overflow: hidden;
  transform: skewX(-14deg); /* -14도 만큼 기울임 */
  transition: transform 0.1s,
              background-color 0.6s;   /* 요소의 변환 효과를 자연스럽게 해줌 */
}
.container .heroes .hero:hover{
  /* hover : 마우스 올리면 어떻게 처리할지 정해줌 */
  background-color: #ff9c00;
  transform: skewX(-14deg) scale(1.3); /* hover에서 기울기 없어진 걸 다시 해줘야 생김 */
  z-index: 1;  /* 요소의 쌓임 순서를 지정해줌 */
}
.container .heroes .hero .image{
  width: 140%;
  height: 100%;
  background-position: center;  /* 요소 가운데 정렬 */
  background-repeat: no-repeat; /* 요소 이미지 반복 막기 */
  background-size: 90px;      
  transform: skewX(14deg) translateX(-16px);    /* 찌그러트린 요소 다시 정상적으로 나오게 */
}
.container .heroes .hero:nth-child(1) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero1.png");} 
.container .heroes .hero:nth-child(2) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero2.png");} 
.container .heroes .hero:nth-child(3) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero3.png");} 
.container .heroes .hero:nth-child(4) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero4.png");} 
.container .heroes .hero:nth-child(5) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero5.png");} 
.container .heroes .hero:nth-child(6) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero6.png");} 
.container .heroes .hero:nth-child(7) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero7.png");} 
.container .heroes .hero:nth-child(8) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero8.png");} 
.container .heroes .hero:nth-child(9) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero9.png");} 
.container .heroes .hero:nth-child(10) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero10.png");} 
.container .heroes .hero:nth-child(11) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero11.png");} 
.container .heroes .hero:nth-child(12) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero12.png");} 
.container .heroes .hero:nth-child(13) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero13.png");} 
.container .heroes .hero:nth-child(14) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero14.png");} 
.container .heroes .hero:nth-child(15) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero15.png");} 
.container .heroes .hero:nth-child(16) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero16.png");} 
.container .heroes .hero:nth-child(17) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero17.png");} 
.container .heroes .hero:nth-child(18) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero18.png");} 
.container .heroes .hero:nth-child(19) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero19.png");} 
.container .heroes .hero:nth-child(20) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero20.png");} 
.container .heroes .hero:nth-child(21) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero21.png");} 
.container .heroes .hero:nth-child(22) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero22.png");} 
.container .heroes .hero:nth-child(23) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero23.png");} 
.container .heroes .hero:nth-child(24) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero24.png");} 
.container .heroes .hero:nth-child(25) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero25.png");} 
.container .heroes .hero:nth-child(26) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero26.png");} 
.container .heroes .hero:nth-child(27) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero27.png");} 
.container .heroes .hero:nth-child(28) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero28.png");} 
.container .heroes .hero:nth-child(29) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero29.png");} 
.container .heroes .hero:nth-child(30) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero30.png");} 
.container .heroes .hero:nth-child(31) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero31.png");} 
.container .heroes .hero:nth-child(32) .image{background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/hero32.png");} 

.container .logo{
  max-width: 300px;   /* 최대너비 지정 */
  margin: 0 auto;     /* 상하:0, 좌우:auto - 수평정렬 */
  padding: 0 20px;    /* 요소의 좌우에 내부여백 추가 */
}
.container .logo img{
  width: 100%;        /* 이미지를 최대 300px로 제한 */
}